<!-- only need to parse it if it came back as a string, but don't have to do that b/c it's already json-->
<h1>{{data.name}}</h1>
<!-- in index.js, we get the whole object with:  data: data[0]-->
<!--here we pull out patronus-->
<h1>Patronus: {{data.patronus}}</h1>
